<a href="https://colab.research.google.com/github/jonpn/google_analytics_python_reporting/blob/master/GA_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd # Pandas is an open source library providing high-performance, easy-to-use data structures and data analysis tools for Python
import json # JSON encoder and decoder for Python
import requests # Library for sending HTTP requests

from getpass import getpass                          # required only for hiding your variables
api_query_uri = getpass('Enter API Query URI here')    # get the URI
r = requests.get(api_query_uri)              # make the request
data= r.json()                               # read data from a JSON format
df = pd.DataFrame(data['rows'])                               # turn data into a Pandas data frame
df = df.rename(columns={0: 'Date', 1: 'Sessions', 2: 'Users'}) # giving the columns some proper titles
df['Sessions'] = df['Sessions'].astype(int) # formatting sessions as ints
df['Users'] = df['Users'].astype(int)      # formatting users as ints
df['Date'] = pd.to_datetime(df['Date'])
df.head()                                  # printing the first five rows

Enter API Query URI here··········

        Date  Sessions  Users
0 2020-01-28         0      0
1 2020-01-29        22     24
2 2020-01-30        39     41
3 2020-01-31        29     29
4 2020-02-01        20     21